# Zensical build outputs
site/
dist/
build/

# Zensical local caches
.cache/

# Python environment and caches (if writing plugins/macros)
__pycache__/
*.egg-info/
.venv/
env/
venv/
docs/archives/

# Operating System specific files
.DS_Store
Thumbs.db
